body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
}

.global-content-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */

.main-content-section {
    padding: 100px 90px;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 12px;
}

/* About me section */

.about-me-section {
    margin: 0 0 40px 0;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px 0;
}

.about-me-discription {
    width: 570px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* My progecta section */

.my-projects-section {
    margin: 0 0 50px 0;
}

.my-projects-list {
    padding: 0 0 0 17px;
}

.my-projects-item {
    color: #000;
    font-weight: bold;
}

.my-progects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

.my-projects-brecket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* My work experience */

.my-work-experience-company {
    color: #fb6d3a;
}

.my-work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
    color: #000;
}

.my-work-experience-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin: 0 0 10px 0;
}

.my-work-experience-divider {
    color: #000;
}

.my-work-experience-duties {
    padding: 0 0 0 18px;
}

.my-work-experience-duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-experience-company-block {
    margin: 0 0 20px 0;
}

.work-experience-block {
    margin: 0 0 40px 0;
}

/* Education-section */

.my-education-header {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 12px 0;
    color: #000;
}

.my-education-university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
    color: #fb6d3a;
}

.my-education-faculty {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 10px 0;
}

.my-education-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

/* Sidebar-section */

.sidebar-section {
    background-color: #1e2939;
    width: 370px;
    padding: 40px 0;
}

.contacts,
.tech-skills,
.soft-skills {
    margin: 50px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

/* Contacts */

.contacts-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
}

.contacts-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
}

/* Tech skills */

.tech-skills-list,
.soft-skills-list {
    padding: 0 0 0 14px;
}

.tech-skills-item,
.soft-skills-item {
    color: #fb6d3a;
}

.tech-skills-text,
.soft-skills-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
